@model NoteApp

<form asp-action="Insert" id="form-action" method="post" role="form">
    <h1>Welcome To Note App</h1>
    <div asp-validation-summary="All"></div>
    <label asp-for="Title"></label>
    <input asp-for="Id" type="hidden">
    <input asp-for="Title">
    <span asp-validation-for="Title"></span> <br>
    <label asp-for="Text"></label>
    <input asp-for="Text">
    <span asp-validation-for="Text"></span> <br>
    <input type="submit" id="form-button" value="Add Note">
</form>