@model Note

<form asp-action="Insert" id="form-action" method="post" role="form">
    <h1>Welcome To Note App</h1>
    <div asp-validation-summary="All"></div>

    <input asp-for="Id" type="hidden">

    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text">
        <span asp-validation-for="Title"></span>
    </div>

    <div>
        <label asp-for="Text"></label>
        <input asp-for="Text" type="text">
        <span asp-validation-for="Text"></span>
    </div>

    <input type="submit" id="form-button" value="Add Note">
</form>